<label
  class="flex items-center gap-3 p-3 rounded-xl bg-white/5 hover:bg-white/10 cursor-pointer"
>
  <input type="radio" name="question_{{q.id}}" value="A" class="accent-white" />

  <span> A. {{q.option_a}} </span>
</label>

<label
  class="flex items-center gap-3 p-3 rounded-xl bg-white/5 hover:bg-white/10 cursor-pointer"
>
  <input type="radio" name="question_{{q.id}}" value="B" class="accent-white" />

  <span> B. {{q.option_b}} </span>
</label>

<label
  class="flex items-center gap-3 p-3 rounded-xl bg-white/5 hover:bg-white/10 cursor-pointer"
>
  <input type="radio" name="question_{{q.id}}" value="C" class="accent-white" />

  <span> C. {{q.option_c}} </span>
</label>

<label
  class="flex items-center gap-3 p-3 rounded-xl bg-white/5 hover:bg-white/10 cursor-pointer"
>
  <input type="radio" name="question_{{q.id}}" value="D" class="accent-white" />

  <span> D. {{q.option_d}} </span>
</label>
