{% extends "base.html" %} {% block content %}

<div class="min-h-screen bg-[#140F1F] text-white">
  <!-- Header -->

  <div class="border-b border-white/10">
    <div
      class="max-w-[1800px] mx-auto px-8 py-5 flex justify-between items-center"
    >
      <div>
        <h1 class="text-3xl font-bold">Coding Assessment</h1>

        <p class="text-gray-400 mt-2">Solve the problem below.</p>
      </div>

      <div class="flex gap-8 items-center">
        <div>
          <p class="text-sm text-gray-400">Time Left</p>

          <h2 id="timer" class="text-2xl font-bold text-pink-400">--</h2>
        </div>

        <button
          id="submitBtn"
          class="px-7 py-3 rounded-2xl bg-pink-500 hover:bg-pink-400"
        >
          Submit
        </button>
      </div>
    </div>
  </div>

  <div class="max-w-[1800px] mx-auto p-8">
    <div class="grid grid-cols-12 gap-6">
      <!-- LEFT -->

      <div class="col-span-5">
        <div
          class="rounded-3xl bg-white/5 border border-white/10 h-[82vh] overflow-y-auto"
        >
          <div class="p-8">
            <h2 class="text-2xl font-bold mb-4">
              {{ coding_question.question }}
            </h2>

            {% if coding_question.question_image %}

            <img
              src="{{ coding_question.question_image.url }}"
              class="rounded-xl mb-6"
            />

            {% endif %}

            <div class="whitespace-pre-line text-gray-300 leading-8">
              {{ coding_question.description }}
            </div>

            <div class="mt-10">
              <h3 class="font-semibold mb-3">Example</h3>

              <div class="bg-[#0D1117] rounded-xl p-5 border border-white/10">
                <pre>{{ coding_question.example }}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- RIGHT -->

      <div class="col-span-7">
        <div
          class="rounded-3xl bg-white/5 border border-white/10 h-[82vh] flex flex-col"
        >
          <div class="border-b border-white/10 p-4">
            <select
              class="bg-white/5 border border-white/10 rounded-xl px-4 py-2"
            >
              <option>Python</option>
              <option>C++</option>
              <option>Java</option>
            </select>
          </div>

          <textarea
            class="flex-1 bg-[#0D1117] p-6 font-mono resize-none outline-none"
            placeholder="Write your solution..."
          ></textarea>

          <div class="border-t border-white/10 p-4 flex justify-end gap-4">
            <button class="px-6 py-3 rounded-xl bg-white/10">Run Code</button>

            <button class="px-6 py-3 rounded-xl bg-pink-500">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.52.2/min/vs/loader.js"></script>
{% endblock %}
