{% extends 'base.html' %} {% block content %}

<div class="space-y-8">
  <div>
    <h1 class="text-4xl font-black">Recruiter Dashboard</h1>

    <p class="text-slate-400 mt-2">Manage internships and applicants</p>
  </div>

  <!-- Stats -->

  <div class="grid md:grid-cols-2 gap-6">
    <div class="bg-[#241235]/80 p-6 rounded-3xl">
      <h3 class="text-slate-400">Total Internships</h3>

      <p class="text-5xl font-black mt-3">{{ total_jobs }}</p>
    </div>

    <div class="bg-[#241235]/80 p-6 rounded-3xl">
      <h3 class="text-slate-400">Total Applications</h3>

      <p class="text-5xl font-black mt-3">{{ total_applications }}</p>
    </div>
  </div>

  <!-- Posted Internships -->

  <div class="bg-[#241235]/80 rounded-3xl p-6">
    <h2 class="text-2xl font-bold mb-6">Recent Internships</h2>

    <div class="space-y-4">
      {% for internship in recent_jobs %}

      <div class="bg-white/5 p-4 rounded-2xl">
        <div class="flex justify-between">
          <div>
            <h3 class="font-bold">{{ internship.role }}</h3>

            <p class="text-slate-400">{{ internship.company }}</p>
          </div>

          <div class="text-right">
            <p>{{ internship.location }}</p>

            <p class="text-green-400">{{ internship.stipend }}</p>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>

  <!-- Applicants -->

  <div class="bg-[#241235]/80 rounded-3xl p-6">
    <h2 class="text-2xl font-bold mb-6">Recent Applications</h2>

    <div class="overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr class="border-b border-white/10">
            <th class="text-left py-3">Student</th>

            <th class="text-left py-3">Internship</th>

            <th class="text-left py-3">Company</th>

            <th class="text-left py-3">Applied On</th>
          </tr>
        </thead>

        <tbody>
          {% for application in recent_applications %}

          <tr class="border-b border-white/5">
            <td class="py-4">{{ application.user.username }}</td>

            <td class="py-4">{{ application.internship.role }}</td>

            <td class="py-4">{{ application.internship.company }}</td>

            <td class="py-4">{{ application.applied_at|date:"d M Y" }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
