{% extends 'base.html' %} {% block content %}

<div class="min-h-screen text-white">
  <div class="mb-10">
    <h1 class="text-5xl font-black">Recruiter Dashboard</h1>

    <p class="text-slate-400 mt-3">Manage internships and applicants</p>
  </div>

  <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">
    <div class="bg-[#241235]/80 rounded-[24px] p-6">
      <p class="text-slate-400">Active Internships</p>

      <h2 class="text-5xl font-black mt-3">12</h2>
    </div>

    <div class="bg-[#241235]/80 rounded-[24px] p-6">
      <p class="text-slate-400">Applications</p>

      <h2 class="text-5xl font-black mt-3">248</h2>
    </div>

    <div class="bg-[#241235]/80 rounded-[24px] p-6">
      <p class="text-slate-400">Shortlisted</p>

      <h2 class="text-5xl font-black mt-3">38</h2>
    </div>

    <div class="bg-[#241235]/80 rounded-[24px] p-6">
      <p class="text-slate-400">Hired</p>

      <h2 class="text-5xl font-black mt-3">18</h2>
    </div>
  </div>
</div>

{% endblock %}
